/* font-family: 'MuseoModerno', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #101010;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 5px 20px #000;
    align-items: center;
    flex-wrap: wrap;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid ##ccc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #fff;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #ccc;
    background: #ccc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.menu li  a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition: .5s;
}
.menu li a:hover{
    color:#fff;
    background-color: #333;
}
.logo{
    width: 45px;
    height: 45px;
    background-color: #ccc;
    border-radius: 10px;
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.container div{
    flex:1 1 350px;
    margin: 10px;
}
footer{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}
footer p{
    margin-bottom: 50px;
}
.btn-whats{
    background-color: #25D366;
    color: white;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 800px;
    
    top: 85%;
    left: 90%;
    position: fixed;
    transition: all .6s;
    animation: 2s btn-whats;
    animation-fill-mode: both;
    animation-iteration-count:1;
    z-index: 1;
  }.btn-whats:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }
  
  .pulse{
    animation: pulse 2s infinite;
  }
  
  
  
  .btn-whats > i{
    position: relative;
    font-size: 2.4rem;
    margin: -5px -1px;
  }
  
  @media only screen and (min-width: 900px){
    .btn-whats{
      left: 92%;
    }
    
  
  }
  
  @media only screen and (max-width: 700px){
    .btn-whats{
      left: 85%;
    }
    h1{
      font-size: 1.8rem;
    }
  }
  
  @media only screen and (max-width: 450px){
    .btn-whats{
      left: 80%;
    }
    
  }
  
  @media only screen and (max-width: 350px){
    .btn-whats{
      left: 75%;
    }
  }
  /* Animações */
  @keyframes btn-whats{
    10%{
      transform: translate(0, 200px); 
    }
    50%{
      transform: translate(0, -40px);
    }
    
    70%{
      transform: scale(1.1);
    }
  }
  
  @keyframes pulse {
    50%{
      transform: scale(1.1);
    }
  }